// 아래부분 ../styles/utils.scss 로 옮김
// // 변수 사용
// $red : #fa5252;
// $orange: #fd7e14;
// $yellow: #fcc419;
// $green: #40c057;
// $blue: #339af0;
// $indigo: #5c7cfa;
// $violet: #7950f2;
// @mixin square($size){
//     $calculated: 32px * $size;
//     width: $calculated;
//     height: $calculated;
// }

// 원래는 아래처럼 imoprt 해서 사용하지만, webpack.config.js 파일에 설정으로
// 모든 파일에 utill.scss 자동 imoprt 되도록 해뒀음.
// @import "../styles/utils.scss";


/* Sass 라이브러리 사용*/
@import '~include-media/dist/include-media';   
@import '~open-color/open-color'; 

.SassComponent {
    display: flex;
    background : $oc-gray-2;
    @include media('<768px'){
      background : $oc-gray-9;
    }


    .box{
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;
        &.red {
          // .red 클래스가 .box와 함께 사용되었을 때
          background: $red;
          @include square(1);
        }
        &.orange {
          background: $orange;
          @include square(2);
        }
        &.yellow {
          background: $yellow;
          @include square(3);
        }
        &.green {
          background: $green;
          @include square(4);
        }
        &.blue {
          background: $blue;
          @include square(5);
        }
        &.indigo {
          background: $indigo;
          @include square(6);
        }
        &.violet {
          background: $violet;
          @include square(7);
        }
        &:hover {
          // .box에 마우스를 올렸을 때
          background: black;
        }
    }
}